include includes/head.pug
body 

    header.gallery-header
        h1.galery__h1 Galery
        p.galery__description 0 folders #{images.length} images

    nav.navbar 
        .navbar-container
            a.navbar__a(href="/logout") 
                <i class="fas fa-sign-out-alt"></i>
                | Logout

    main.gallery-main
        //-  Nav authentication 
        nav.gallery-nav 
            form#gallery-nav-form.gallery-nav__search(action="") 
                input#gallery-nav-input.gallery-nav__search-input(type="text" name="search")
                <i class="fas fa-search"></i>
            ul.gallery-nav-ul
                li.gallery-nav-button-menu
                    button#gallery-nav-btn.btn.gallery-nav-btn
                        i(class="fas fa-ellipsis-v")
                //- p Upload New Upload New
                li 
                    ul#gallery-nav-menu-hide.gallery-nav-section-menu-hide.d-none
                        li#upload-image
                            i(class="fas fa-cloud-upload-alt") 
                            p Upload 
                        //- li#upload-folder
                            i(class="fas fa-folder-plus")
                            p New 
                            p Folder
                        li#show-options
                            i(class="fas fa-cogs")
                            p Show
                            p Options

        section#gallery-drop-zone.gallery-images
            //- .gallery-images-zone
            each image in images
                figure.gallery-image(data-id=image._id)
                    .gallery-image-options.d-none
                        i(class="fas fa-link")
                        i.delete-image(class="fas fa-trash")
                    div
                        img(src=image.url alt='#{image.name}')
                    div
                        figcaption= image.name.substring(0, image.name.length - 37) 
                        .gallery-image__description
                            p= image.format
                            p= image.size/1000 + ' kb'
                            p= image.width + ' x ' + image.height

        form#form-upload-image.form-upload.form-upload-none(action="gallery" method="POST") 
            //- input(type="text" name="name")
            //- input(type="number" name="age")
            input.form-upload-file(type="file" name="file")
            input.btn.gallery-nav-btn.form-upload-btn(type="submit")

        form#form-upload-folder.form-upload.form-upload-none(action="gallery" method="POST" enctype="multipart/form-data") 
            .form-group 
                label.form-auth__label(for="email") Name Folder
                input.form-auth__input(type="email" name="email" placeholder="Type the name of the folder")
            //- input(type="number" name="age")
            //- input.form-upload-file(type="file" name="file")
            input.btn.gallery-nav-btn.form-upload-btn(type="submit" value="Create Folder")

    #notification.notification
        p 

    script(src="/js/gallery.js" type="module")